:root {
    --font-family: Arial, Helvetica, sans-serif;
    --card-size: 25px;
}

.card {
    background-color: black;
    color: white;
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--card-size);
    font-family: var(--font-family);
}

.card-text-div {
    width: 90%;
    height: 25vh;
}

.card-2 {
    position: relative;
    top: 30px;
}

.card-2-image {
    width: 300px;
    height: 200px;
    position: relative;
    top: -33px;
}

.card-text-div-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-text-2 {
    width: 90%;
    position: relative;
    top: -10px;
}

.line {
    width: 90%;
}