* {
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    height: 19vh;
    width: 30%;
    background-color: black;
    color: white;
}

.email {
    position: relative;
    top: 10px;
    left: 10px;
}

.email-input {
    position: relative;
    width: 80%;
    left: 10px;
}

.password {
    position: relative;
    left: 10px;
}

.password-input {
    position: relative;
    width: 80%;
    left: 10px;
}

.question-form {
    position: relative;
    top: 20px;
    height: 27vh;
    width: 30%;
    background-color: black;
    color: white;
}

.question {
    position: relative;
    left: 10px;
}

.question-input {
    position: relative;
    width: 80%;
    left: 10px;
    height: 10vh;
}

@media only screen and (max-width: 700px) {
    .form {
        width: 50%;
        height: 20vh;
    }

    .question-form {
        width: 60%;
        height: 31vh;
    }

    .question {
        width: 90%;
    }
}

@media only screen and (max-width:1280px) {
    .question {
        width: 90%;
    }

    .question-form {
        height: 30vh;
    }
}