* {
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    height: 215px;
    width: 600px;
    background-color: black;
    color: white;
}

.email {
    position: relative;
    top: 10px;
    left: 10px;
}

.email-input {
    position: relative;
    width: 90%;
    left: 10px;
}

.password {
    position: relative;
    left: 10px;
}

.password-input {
    position: relative;
    width: 90%;
    left: 10px;
}

.question-form {
    position: relative;
    top: 60px;
    height: 290px;
    width: 600px;
    background-color: black;
    color: white;
}

.question {
    position: relative;
    left: 10px;
}

.question-input {
    position: relative;
    width: 90%;
    left: 10px;
    height: 10vh;
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#button2 {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    border-radius: 10px;
}

.topbutton {
    position: relative;
    top: 15px;
    left: 230px;
}

.bottombutton {
    position: relative;
    top: 10px;
    left: 230px;
}